*{margin: 0; padding: 0;}
h2{

}
.bigbox{
    position: relative;
    width: 1070px;
    height: 810px;
    border: 1px solid #fff;
    margin: 50px auto 0;
    /* 위 좌우 아래 */
}
.box{
    width: 260px;
    height: 260px;
    position: absolute;
    display: none;
}
.box img{
    display: block;
    width: 100%;
}
.box1{
    display: block;
    left: 0;
    top: 0;
}
.box2{
    display: block;
    left: 270px;
    top: 0;
    width: 260px;
    height: 530px;
}
.box3{
    display: block;
    left: 540px;
    top: 0;
}
.box4{
    display: block;
    left: 810px;
    top: 0;
}
.box5{
    display: block;
    left: 0;
    top: 270px;
}
.box6{
    display: block;
    left: 540px;
    top: 270px;
    width: 530px;
    height: 270px;
}
.box7{
    display: block;
    left: 0;
    top: 540px;
}
.box8{
    display: block;
    left: 270px;
    top: 540px;
    width: 520px;
    height: 260px;
}
.box9{
    display: block;
    left: 810px;
    top: 540px;
}
.box::before{
    content: "";
    position: absolute;
    left: auto;
    top: 0;
    background-color: rgba(0, 0, 255, 0.5);
    width: 0;
    height: 100%;
    transition: all 0.5s;
}
.box:hover::before{
    width: 100%;
}
.box p{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
    width: 100%;
    padding-bottom: 48px;
    text-align: center;
    background: url(../images/more.png) no-repeat 50% 100%;
    color: #fff;
    font-size: 14px;
    opacity: 0;
    filter: alpha(opacity=0);
    box-sizing: border-box;
    transition: opacity .3s ease;
    transform: translate(0, -50%);
}
.box:hover p{
    opacity: 1;
}