*{margin: 0; padding: 0;}

#slider-container{
    position: relative;
    width: 270px;
    height: 300px;
    margin: 100px auto 0;
}
.slider{
    width: 100%;
}
/* 3장의 사진을 겹침 */
.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}
.slide.on{
    visibility: visible;
    opacity: 1;
}
img{
    display: block;
    width: 100%;
    border-radius: 0 30px 0 30px;
}
.pager{
    position: absolute;
    top: 20px;
    right: 20px;
}
/* dot에 넓이 높이를 주려고 */
.dot{
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 0 8px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    cursor: pointer;
}
.dot.active{background-color: yellow;}
.dot:hover{
    background-color: #717171;
}